/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}
body {
    color: #a79b9b;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}
/* Container */

.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }
  
  /* Header */
  
  .header {
    background: #5d8cac;
    color: white;
    padding: 1.6rem 0;
  }
  
  .header__title {
    font-size: 3.2rem;
    margin-bottom: .4rem;
  }
  
  .header__subtitle {
    font-size: 1.6rem;
    font-weight: 300;
  }
  
  #search-recipe {
    border: 1px solid #696969;
    border-radius: 10px;
    font-size: 15px;
    height: 25px;
    padding-left: 20px;
    outline: none;
}

/* Actions Bar */

.search {
  background-color: #F7F7F7;
  border-bottom: 1px solid #dedfe0;
  padding: .8rem
}
